<ion-header>
  <ion-toolbar>
    <ion-title>{{card?.name}}</ion-title>
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding >
<div *ngIf="card && card.cardId">
  <ion-card>
<img [src]="card.img" (error)="updateImage($event)" />
  <ion-card-header>
      <ion-card-title>{{card.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <p [innerHTML]="card?.text"></p>
      <p>{{card?.flavor}}</p>
    
  </ion-card-content>
</ion-card>
</div>



</ion-content>
